
/* 
COLOR COMBINATIONS 
-Container Background: White; Boxes Background: Tomato;
–Container Background: rgba(0,0,0,0.88) [nearly black]; Boxes Background: Green;

*/

html,body {
	height: 100%;
}


body {
	font-family: "Verdana";
	flex-direction: column;
	background-color: rgba(0,0,0, 0.88);
}


.flexin {
	display: flex;
	align-items: center;
	justify-content: center;
}

.centered {
	width: 100%;
	text-align: center;
}

#cont {
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.container {
	/*border: 3px solid green;*/
	width: 40em;
	height: 40em;
	perspective: 40em;
}

.rot {
	  width: 10%;
  height: 10%;
	float: left;
	/*background: tomato;*/
	background: green;
	transform: rotateY(100deg) rotateX(50deg);

}
